// * Screen Sizes
$sm: '640px';
$md: '768px';
$lg: '1024px';
$xl: '1280px';

// * Backgrounds

// * Orange
$orangeBgLight: #f6b868;
$orangeBgDark: #ee6c2d;
$orangeBorder: #f8caa3;
$orangeSelectedText: #9f938b;

// * Yellow
$yellowBgLight: #fee34c;
$yellowBgDark: #d59100;
$yellowBorder: #fbfbfb;
$yellowSelectedText: #9f938b;

// * Blue
$blueBgLight: #76e0c2;
$blueBgDark: #59cada;
$blueBorder: #fbfbfb;
$blueSelectedText: #4cad94;

// * Green - correct answer
$greenBgLight: #51daa8;
$greenBgDark: #00a274;
$greenBorder: #fbfbfb;
$greenSelectedText: #00a274;

:export {
  orangeBgLight: $orangeBgLight;
  orangeBgDark: $orangeBgDark;
  orangeBorder: $orangeBorder;
  orangeSelectedText: $orangeSelectedText;

  yellowBgLight: $yellowBgLight;
  yellowBgDark: $yellowBgDark;
  yellowBorder: $yellowBorder;
  yellowSelectedText: $yellowSelectedText;

  blueBgLight: $blueBgLight;
  blueBgDark: $blueBgDark;
  blueBorder: $blueBorder;
  blueSelectedText: $blueSelectedText;

  greenBgLight: $greenBgLight;
  greenBgDark: $greenBgDark;
  greenBorder: $greenBorder;
  greenSelectedText: $greenSelectedText;
}
