.answer-options {
  margin-top: 3.2rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  border: 2px solid #f8caa3;
  border-radius: 5rem;
}

.single-option {
  height: 6rem;
  min-width: 50%;
  flex-grow: 1;
  padding: 0.9rem;
  display: grid;
  place-items: center;
  font-size: 1.8rem;
  font-weight: 700;
}
