@import './styles/colors.scss';

.App {
  width: 90%;
  margin-inline: auto;
  color: #ffffff;
  text-align: center;
}

.question {
  margin-top: 1.6rem;
  font-size: 2rem;
  font-weight: 700;
}

.answers-list {
  text-align: center;

  li {
    margin-top: 3.2rem;
    border: 2px solid white;
    border-radius: 10rem;
  }
}

.answers-status {
  margin-top: 3.2rem;
  font-size: 1.6rem;
}
